.components{
    padding-top: 100px;
    white-space: nowrap;
    background-image: url("../images/food_lowbr.jpg");
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}