.recipe-card{
    margin: 10px;
}

#recipe-image{
    max-height: 250px;
}

#missing-ingredients{
    display: inline;
    position: relative;
    margin: 0;
    
}

.recipes{
    height: 100%;
}

